.getting-started {
    padding: 1em;
}

.add-choices-form input {
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
}

.add-choices-form .form-elements {
    text-align: left;
    max-height: 70vh;
    overflow: scroll;
    min-height: 52vh;
}

.getting-started .add-more-button {
    background-color: #38aeca;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.add-more-button:focus,
.add-more-button:hover {
    box-shadow: 0 0 10px rgba(46 150 181);
    border-radius: 50%;
}