.getting-started {
    padding: 1em;
}

.getting-started-card {
    height: 40em;
}

.add-choices-form input {
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
}

.add-choices-form .form-elements {
    text-align: left;
    max-height: 70vh;
    overflow: scroll;
    min-height: 52vh;
}

.getting-started .add-more-button {
    background-color: #38aeca;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
}