.dashboard {
    height: 100%;
    position: relative;

    .back-button {
        background-color: #007a96;
        border: none;
        border-radius: 50%;
        height: 2.5em;
        width: 2.5em;
        outline: none;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .40);

        :active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }

        :focus,
        :hover {
            box-shadow: 0 0 10px rgba(46, 150, 181, 0.7);
        }
    }

    .scrollable-content {
        height: calc(100vh - 4em);
        overflow: scroll;
        padding: 1rem;

        .top-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 1rem 1rem 1rem;

            .back-button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .main-content {
            display: flex;
            flex-wrap: wrap;

            .score-card-div {
                display: flex;
                justify-content: center;
                animation-duration: 0.5s !important;
                margin: 1rem 3%;

                &.two-column {
                    width: 44%;
                }

                &.single-column {
                    width: 94%;
                }

                .card-content {
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.8em;

                    .criteria {
                        text-align: left;
                    }
                }
            }
        }
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        position: sticky;
        bottom: 2.5em;
        margin: 0 1rem 1.5rem;
        padding-top: 0.5rem;
    }
}

.theme-dark {
    .dashboard {
        .top-nav {
            color: white;
        }
    }
}