.circular-button {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: none;
    background-color: #5c46cc;
    color: white
}

.rectangular-button {
    width: 100%;
    border: none;
    height: 3em;
    background-color: #5c46cc;
    color: white;
    border-radius: 0.25rem;
}

button:disabled {
    background-color: grey !important;
}

.default-button.btn-primary {
    background-color: #007a96 !important;
    border-color: #007a96 !important;
}