.home {
    padding: 1em;
    --bs-gutter-x: 0 !important;
    animation-duration: 0.2s;

    .about {
        height: 480px;
        background: white;
        border-radius: 5px;
        padding: 1.5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

        h2 {
            font-family: "Courgette"
        }

        .description {
            margin: 1.5rem 0;
            text-align: left;

            .step-circle {
                display: inline-block;
                text-align: center;
                background-color: #007a96;
                color: white;
                border-radius: 50%;
                height: 1.4em;
                width: 1.4em;
                margin-right: 1em;
            }
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .home-action-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #007a96;
        border-radius: 10px;
        padding: 0.5em;
        cursor: pointer;
        border: none;
        outline: none;
        color: white;
        margin: 0.5em 0;

        p {
            margin: 0;
            margin: 0 1em;
        }

        &.secondary {
            background-color: #0b4f60;
        }
    }

    .start-button:focus,
    .start-button:hover {
        box-shadow: 0 0 10px rgba(46, 150, 181, 0.7);
    }
}

.theme-dark {
    .home {
        .about {
            background: #213842;
            color: white;
        }
    }
}

//mobile & i-pad
@media only screen and(max-width:1025px) {
    .home {
        .about {
            height: 520px;
        }
    }
}