.add-criteria {
    border-radius: 4px;
    background: white;
    animation-duration: 0.5s;
}

.option-group {
    border: 1px solid #dadaea;
    border-radius: 5px;
}

.MuiSlider-root>span {
    color: #007a96;
}

.MuiSlider-root .MuiSlider-markLabel {
    color: black;
}

.theme-dark .add-criteria {
    background: #213842;
    color: white;
}

.theme-dark .MuiSlider-markLabel {
    color: white;
}

.add-criteria .display-body {
    min-height: 30vh;
    max-height: 55vh;
    overflow: scroll;
}

.check-button {
    display: inline-block;
}