.content {
    border-radius: 4px;
    background: white;
}

.content .display-body {
    min-height: 30vh;
    max-height: 55vh;
    overflow: scroll;
}

.content .display-body .empty-state {
    color: #9fa9b9
}