.choice-content {
    border-radius: 4px;
    background: white;
}

.choice-content .display-body {
    min-height: 30vh;
    max-height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
}

.choice-content .display-body .empty-state {
    color: #9fa9b9
}

.theme-dark .choice-content {
    background: #213842;
    color: white;
}