.score-card {
    border-radius: 10%;
    background: white;

    &.bg--success {
        border-top: 10px solid #6ab76a;
    }

    &.bg--warning {
        border-top: 10px solid #fdc51b;
    }

    &.bg--danger {
        border-top: 10px solid #f16d77;
    }

    .header {
        font-weight: bold;

        .total-score {
            height: 2em;
            width: 2em;
            background: white;
            box-shadow: 0 0 8px 0 #c1c1ca inset;
            border-radius: 50%;
        }
    }

    .delete-choice {
        top: -1em;
        left: -1em;
    }

    .body {
        overflow: hidden;
    }
}

.theme-dark .score-card {
    background: #213842;
    color: white;

    .total-score {
        background: #111618;
        color: white;
        box-shadow: none;
    }
}