.score-card {
    border-radius: 10%;
    background: white;
}

.theme-dark .score-card {
    background: #213842;
    color: white;
}

.score-card.bg--success {
    /* background: #6ab76a; */
    border-top: 10px solid #6ab76a;

}

.score-card.bg--warning {
    /* background: #fdc51b; */
    border-top: 10px solid #fdc51b;

}

.score-card.bg--danger {
    /* background: #f16d77; */
    border-top: 10px solid #f16d77;

}

.total-score {
    height: 2em;
    width: 2em;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.theme-dark .total-score {
    background: #152529;
    color: white;
}

.score-card .delete-choice {
    top: -1em;
    left: -1em;
}

.score-card .header {
    font-weight: bold;
}

.score-card .body {
    overflow: hidden;
}