.history {
    padding: 1em;
    height: 100%;

    .history-card {
        padding: 1em;
        height: 100%;
        background: white;
        border-radius: 5px;
    }
}

.theme-dark {
    .history {
        .history-card {
            background: #213842;
            // color: white;
        }
    }
}