.header-container {
    height: 3em;
    background-image: linear-gradient(to right, #007a96, #111618);
    display: flex;
    align-items: center;

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .theme-button,
        .menu-hamburger {
            background: transparent;
            border: none;
        }

        a {
            text-decoration: none;
            color: white;
            font-family: 'Courgette', cursive;
            font-size: 1.5em;
        }

        .menu-hamburger {
            flex-shrink: 0;
        }

        .brand-name {
            padding: 0 2em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .theme-button {
            padding: 0 1em;
            margin: 0 1em;
        }

    }

    aside {
        position: absolute;
        top: 3em;
        height: 100%;
        width: 50vw;
        background: whitesmoke;
    }

    /* desktop */
    @media only screen and (min-width:1025px) {
        height: 4em;

        nav {
            .brand-name {
                padding: 0 5em;
            }

            .theme-button {
                padding: 0 2em;
                margin: 0 3em;
            }

            .menu-hamburger {
                display: none;
            }
        }
    }
}