.header-container {
    height: 3em;
    background-image: linear-gradient(to right, #007a96, #111618);

    nav {
        button {
            background: transparent;
            border: none;
        }

        a {
            text-decoration: none;
            color: white;
            font-family: 'Courgette', cursive;
            font-size: 1.5em;
        }

        .menu-hamburger {
            flex-shrink: 0;
        }

        .home-icon {
            flex-grow: 1;
            padding: 1em;

            @media only screen and (max-width:1024px) {
                display: none;
            }
        }

        .brand-name {
            flex-grow: 3;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .theme-button {
            flex-grow: 1
        }

    }

    aside {
        position: absolute;
        top: 3em;
        height: 100%;
        width: 50vw;
        background: whitesmoke;
    }

    /* desktop */
    @media only screen and (min-width:1025px) {
        height: 4em;

        .menu-hamburger {
            display: none;
        }
    }
}