.decision-view {
    height: 100%;

    .top-nav {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 2rem;

        .back-button {
            height: 2.5em;
            width: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #007a96;
            border-radius: 50%;
            border: none;
            outline: none;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .40);

            :focus,
            :hover {
                box-shadow: 0 0 10px rgba(46, 150, 181, 0.7);
            }

            :active {
                transform: scale(0.98);
                /* Scaling button to 0.98 to its original size */
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
                /* Lowering the shadow */
            }
        }

    }

    .decision-body {
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;

        .winner-list {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-height: 10em;
            overflow: scroll;

            .winner-item {
                padding: 1rem;
                text-align: left;

                span {
                    padding: 0 1rem;
                    font-weight: bold;
                }
            }
        }

        .buttons-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 3rem;

            button {
                margin: 1rem
            }
        }
    }
}

.theme-dark {
    .decision-view {
        color: white;
    }
}