.decision-view .back-button {
    background-color: #007a96;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.winner-list {
    max-height: 10em;
    overflow: scroll;
}

.theme-dark .decision-view {
    color: white;
}