.home {
    padding: 1em;
    --bs-gutter-x: 0 !important;
    animation-duration: 0.2s;
}

.about {
    border-radius: 15px;
    background: white;
}

.theme-dark .about {
    background: #213842;
    color: white;
}

.home .start-button {
    background-color: #007a96;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
}

.start-button:focus,
.start-button:hover {
    box-shadow: 0 0 10px rgba(46 150 181);
    border-radius: 50%;
}