.App {
  text-align: center;
  font-family: 'Courgette', cursive;
  overflow: hidden;
}

.view-container {
  height: calc(100vh - 3em);
  /* Since the header's height is 3em */
  background-image: linear-gradient(to right, #c8bdff, #9172af);
}