.font-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.font-em-8 {
    font-size: 0.8em;
}

.font-em-15 {
    font-size: 1.5em;
}

.text-alert {
    color: #de4653;
}

.text-success {
    color: #317931;
}

.text-disabled,
.theme-dark .text-minor {
    color: #9fa9b9;
}

.text-minor {
    color: #6b717b;
}