input[type="text"]:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(46, 150, 181, 0.7);
    border: 1px solid rgba(46, 150, 181, 0.7);
    border-radius: 4px;
    outline: none;
}

input {
    background: transparent;
    border: 1px solid #dadaea;
    border-radius: 5px;
}

.theme-dark {
    input {
        color: white;
    }
}